<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/html/styles.css" >
        <title>
            Web Main Page
        </title>
    </head>
    <body>
        <h1>
            Links To Labs Below:
        </h1>
        
        <p>
            <br>Today's date is {{month}}/{{day}}/{{year}}.
        </p>
    </body>
</html>