<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jebchess</title>
        <meta name="viewport" content="width=5px, user-scalable=yes, initial-scale=0.5"/>
        <link rel="stylesheet" href="../styles/css?name=chesscss"/>
        <link rel="stylesheet" href="../styles/css?name=cm"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>
            Hi {{personal.name}}! Welcome to Jebchess!
        </h1>
        <br>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <div class="table-wrap">
            <div class="board inner" id="board"></div>
            <div class="inner" id="moveList">
                <table id="table"></table>
            </div>
        </div>
        <a class="logout" href="/jebchess/logout" style="clear:left">Logout</a>
        <!--suppress JSUnresolvedFunction -->
        <script src="../styles/css?name=chesssrc" type="module"></script>
    </body>
</html>