<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jebchess</title>
        <meta name="viewport" content="width=5px, user-scalable=yes, initial-scale=0.5"/>
        <link rel="stylesheet" href="../styles/css?name=chesscss"/>
    </head>
    <body>
        <ul class="navbar">
            <li class="navbar nav-inn"><a href="/jebchess" class="nav-inn-links">Home</a></li>
            <li class="navbar nav-inn"><a href="/jebchess/login" class="nav-inn-links">Login</a></li>
        </ul>
    </body>
</html>