<!DOCTYPE html>
<html>
    <head>
        <title>
            Weather Forecast
        </title>
    </head>
    <body>
        <br>
        <div>
        <form action="/apod" method="GET">
        <label for="date">Date:</label>
        <br>
        <input type="date" id="date" name="date">
        <button>Submit</button>
    </div>
    </body>
</html>