<!DOCTYPE html>
<html>
    <head>
        <title>
            Cookie Clicker
        </title>
    </head>
    <body>
        <h1>
            Good morning!
        </h1>
        <br>
        <h4>
            Visit number {{vc}}.
        </h4>
        <br>
        <a href="/cookieclicker">Refresh</a>
        <br>
        <a href="cookieclicker?reset=true">Reset</a>
        <br>
        <a href="/">Home</a>
    </body>
</html>